*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 18px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}
.header{
    height: 80px;
    width: 100%;
    background-color: #ffff;
    box-shadow: 2px 2px 2px #eeffee;
}
.header .logo{
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
}
.nav{
    display: inline-block;
}

.ul{
    display: inline-block;
    margin-left: 250px;
}
li{
    display: inline-block;
    list-style-type: none;
    margin-left: 25px;
}